/* =========================================================================
   
    * Filename:     style.css
    * Author:       Chris Wojcik
    * Website:      www.chriswojcik.net

   ========================================================================== */

/* ==========================================================================
   Custom Fonts
   ========================================================================== */

@font-face {
  font-family: 'icoMoon';
  src: url("../_fonts/icoMoon.eot");
  src: url("../_fonts/icoMoon.eot?#iefix") format("embedded-opentype"), url("../_fonts/icoMoon.svg#icoMoon") format("svg"), url("../_fonts/icoMoon.woff") format("woff"), url("../_fonts/icoMoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wf-loading body {
  visibility: hidden;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* 
* FTW: paulirish.com/2012/box-sizing-border-box-ftw/ 
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Typography
   ========================================================================== */

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 100%;
  line-height: 1.6em;
}

p {
  font-size: 1em;
  margin: 0 0 1em;
  text-align: justify;
}

h1, h2, h3, h4 {
  font-family: "refrigerator-deluxe", sans-serif;
  text-transform: uppercase;
  line-height: 1em;
}

h1 {
  font-size: 1em;
  margin: 2.5em auto 0;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  margin: 0 0 1.25em;
  font-weight: 700;
}

h3 {
  font-size: 2em;
  margin: 0 0 0.625em;
  font-weight: 700;
}

h4 {
  font-size: 1.125em;
  margin: 0 0 1em;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

a {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: none;
}

/* Use with Icon fonts */
[data-icon]:before {
  font-family: 'icoMoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 0.25em;
  font-size: 1.5em;
}

input[type="text"], input[type="email"], textarea {
  font-family: "proxima-nova", sans-serif;
}

/* ==========================================================================
   Page Structure
   ========================================================================== */

body {
  overflow-x: hidden;
}

.section-wrap {
  width: 80%;
  max-width: 75em;
  margin: 0 auto;
  padding: 2.75em 0 5em;
}

.no-mq .section-wrap {
  width: 60em;
}

section h2 {
  z-index: 1;
  text-align: center;
  position: relative;
}
section h2:before, section h2:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 38%;
  margin-top: -6px;
  height: 13px;
  z-index: -1;
  box-sizing: content-box;
}
section h2:before {
  left: 0;
}
section h2:after {
  right: 0;
}

/* ==========================================================================
   Header / Nav
   ========================================================================== */

.main-nav {
  font-family: "refrigerator-deluxe", sans-serif;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  padding: 1.5em 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main-nav ul {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  font-size: 1.625em;
  line-height: 1em;
  width: 24em;
}
.main-nav li {
  float: left;
  display: block;
  width: 25%;
}
.main-nav a {
  position: relative;
  padding: 0 0.875em;
  color: #b0a09d;
}
.main-nav a:hover, .main-nav a:focus, .main-nav a.current {
  color: #fff;
}
.main-nav .current:before, .main-nav .current:after {
  content: "";
  width: 12px;
  height: 13px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  background-size: 25px 13px;
}
.main-nav .current:before {
  background: url(../img/hover-arrows.png) no-repeat top left;
  left: 0;
}
.main-nav .current:after {
  background: url(../img/hover-arrows.png) no-repeat top right;
  right: 0;
}

.page-header {
  padding: 6.5em 0 4em;
  background: url(../img/bg-brown.png);
}

#logo a {
  display: block;
  width: 459px;
  height: 164px;
  margin: 0 auto;
}

/* ==========================================================================
   Portfolio
   ========================================================================== */

.portfolio {
  color: #645350;
  background: url(../img/bg-gray.png);
}
.portfolio h2 {
  color: #ea5834;
}
.portfolio h2:before {
  background: url(../img/portfolio-header-border.png) no-repeat top left;
}
.portfolio h2:after {
  background: url(../img/portfolio-header-border.png) no-repeat top right;
}
.portfolio h3 {
  color: #2b2423;
}
.portfolio h4 {
  margin-top: -0.75em;
  color: #8e7773;
}
.portfolio img {
  width: 100%;
  height: auto !important;
  background: #d6d0cf;
  background: rgba(204, 198, 196, 0.5);
}

#featured-project {
  float: left;
  margin-top: -3em;
}

.project {
  float: left;
  border-bottom: 2px dashed #c7bbb9;
  padding: 3em 0;
}
.project figure {
  float: left;
  width: 45%;
  position: relative;
  overflow: hidden;
}
.project figure img {
  padding: 0.75em;
}
.project article {
  float: left;
  width: 55%;
  padding-left: 3em;
}

#other-projects {
  float: left;
  width: 100%;
  padding-top: 2em;
  display: none;
}
#other-projects h3 {
  text-align: center;
  margin-bottom: 0;
}
#other-projects .thumbnail-gallery {
  border: none;
  padding-top: 0;
}
#other-projects li {
  padding: 0.75em;
}
#other-projects img {
  padding: 0.5em;
}

.thumbnail-gallery {
  list-style: none;
  margin: 0;
  margin-top: 1.125em;
  padding: 1.125em 0 0 0;
  border-top: 2px dashed #c7bbb9;
}
.thumbnail-gallery li {
  width: 33.333%;
  padding: 0.375em;
  float: left;
}
.thumbnail-gallery img {
  padding: 0.375em;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.thumbnail-gallery img:hover {
  background: #c3bbb9;
  background: rgba(188, 179, 177, 0.75);
}

/* ==========================================================================
   About
   ========================================================================== */

.about {
  background: url(../img/bg-red.png);
  color: #4a1508;
}
.about a {
  color: #000;
}
.about a:hover, .about a:focus {
  color: #fff;
}
.about h2 {
  color: #fff9f2;
}
.about h2:before {
  background: url(../img/about-header-border.png) no-repeat top left;
}
.about h2:after {
  background: url(../img/about-header-border.png) no-repeat top right;
}
.about h3 {
  color: #330e05;
}
.about .download-link {
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
}
.about .download-link span {
  margin-right: 0.25em;
}

.bio {
  float: left;
  width: 60%;
  padding-right: 3em;
}

.skills-tools {
  float: left;
  width: 38%;
}
.skills-tools ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skills-tools li {
  background: #fff9f2;
  margin-top: 6px;
  position: relative;
  font-size: 14px;
}
.skills-tools li span {
  background: #000;
  display: block;
  color: #fff;
  font-style: italic;
  padding: 3px 14px;
  height: 32px;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.skills-tools li:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #fff9f2;
  position: absolute;
  top: 0;
  right: -16px;
}
.skills-tools li:hover span {
  background: #330e05;
}
.skills-tools .css3 span {
  width: 100%;
}
.skills-tools .css3:after {
  border-left: 16px solid #000;
  -webkit-transition: border 0.2s ease;
  -moz-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
.skills-tools .css3:hover:after {
  border-left: 16px solid #330e05;
}
.skills-tools .html5 span {
  width: 95%;
}
.skills-tools .javascript span {
  width: 70%;
}
.skills-tools .php span {
  width: 65%;
}
.skills-tools .sass span {
  width: 95%;
}
.skills-tools .photoshop span {
  width: 90%;
}
.skills-tools .illustrator span {
  width: 75%;
}

/* ==========================================================================
   Contact
   ========================================================================== */

.contact {
  background: url(../img/bg-brown.png);
  color: #b0a09d;
}
.contact h2 {
  color: #ea5834;
}
.contact h2:before, .contact h2:after {
  width: 38%;
}
.contact h2:before {
  background: url(../img/contact-header-border.png) no-repeat top left;
}
.contact h2:after {
  background: url(../img/contact-header-border.png) no-repeat top right;
}
.contact h3 {
  color: #fff9f2;
}
.contact .nav-social {
  margin-top: 1em;
}
.contact .nav-social p {
  margin: 0;
  padding: 0;
}
.contact .nav-social a {
  color: #4c302a;
  padding: 0 0.083333333333em;
  font-size: 1.5em;
}
.contact .nav-social a:hover, .contact .nav-social a:focus {
  color: #ea5834;
}
.contact .button {
  border: none;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
  padding: 0.4em 1.2em;
  font-family: "refrigerator-deluxe", sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: color 0.2s ease, background 0.2s ease;
  -moz-transition: color 0.2s ease, background 0.2s ease;
  -o-transition: color 0.2s ease, background 0.2s ease;
  transition: color 0.2s ease, background 0.2s ease;
  margin-top: 0.3em;
  color: #fff;
  background: #ea5834;
}
.contact .button:hover, .contact .button:focus {
  background: #b0a09d;
  color: #080505;
}

.contact-info {
  float: left;
  width: 45%;
  padding-right: 3em;
}

#contact-form {
  float: left;
  width: 55%;
}
#contact-form ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#contact-form li {
  float: left;
}
#contact-form label {
  font-family: "refrigerator-deluxe", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.3125em;
}
#contact-form span.error {
  color: #fa301e;
  font-style: italic;
  margin-left: 0.5em;
  font-size: 0.875em;
  float: right;
  text-align: right;
}
#contact-form input.error, #contact-form textarea.error {
  border: 1px solid #fa301e;
  -webkit-box-shadow: 0px 0px 2px 0px #fa301e;
  -moz-box-shadow: 0px 0px 2px 0px #fa301e;
  box-shadow: 0px 0px 2px 0px #fa301e;
}
#contact-form .star {
  color: #ea5834;
}
#contact-form .instruction {
  font-style: italic;
  font-size: 0.875em;
}

#submit-message {
  font-style: italic;
  font-size: 0.9375em;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  float: left;
  width: 100%;
  padding: 0.8em;
  margin-top: 1.2em;
}

.success {
  color: #6d9370;
}

.failure {
  color: #fa301e;
}

#loading {
  width: 32px;
  height: 32px;
  display: none;
  float: left;
  margin-top: 0.625em;
  margin-left: 1.25em;
  background: url(../img/ajax-loader.gif);
}

#name-container {
  width: 50%;
  padding-right: 0.5em;
}

#email-container {
  width: 50%;
  padding-left: 0.5em;
}

#message-container, #submit-container {
  width: 100%;
  clear: both;
}

#message-container {
  margin-top: 1.25em;
}

#submit-container {
  margin-top: 0.5em;
}

#name, #email, #message {
  width: 100%;
  padding: 0.5em;
  color: #b0a09d;
  border: none;
  background-color: #4c302a;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  clear: both;
}
#name:focus, #email:focus, #message:focus {
  background: #d2c9c7;
  color: #473c3a;
}

#send {
  float: left;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.page-footer {
  background: url(../img/bg-black.png);
  padding: 3.5em 0;
  font-family: "refrigerator-deluxe", sans-serif;
  -webkit-box-shadow: inset 0px 30px 30px -30px black;
  -moz-box-shadow: inset 0px 30px 30px -30px black;
  box-shadow: inset 0px 30px 30px -30px black;
  color: #998581;
}
.page-footer p {
  text-align: center;
  line-height: 1.375em;
  width: 50%;
  margin: 0.375em auto;
}
.page-footer p a {
  color: #ea5834;
}
.page-footer p a:hover, .page-footer p a:focus {
  color: #a72f11;
}

#sticky-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  background: #1b110f;
  background: rgba(27, 17, 15, 0.98);
  -webkit-box-shadow: 0px 0px 10px 1px #1b110f;
  -moz-box-shadow: 0px 0px 10px 1px #1b110f;
  box-shadow: 0px 0px 10px 1px #1b110f;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* 1200 px */
@media all and (max-width: 75em) {
  .section-wrap {
    width: 90%;
  }

  .bio {
    width: 55%;
  }

  .skills-tools {
    width: 42%;
  }
}
/* 1024 px */
@media all and (max-width: 64em) {
  section h2:before, section h2:after {
    width: 36%;
  }

  .contact h2:before, .contact h2:after {
    width: 34%;
  }

  .project article {
    padding-left: 2em;
  }

  .bio {
    padding-right: 2em;
    width: 50%;
  }

  .skills-tools {
    width: 47%;
  }

  .contact-info {
    padding-right: 2em;
  }
}
/* 900 px */
@media all and (max-width: 56.25em) {
  section h2:before, section h2:after {
    width: 35%;
  }

  .contact h2:before, .contact h2:after {
    width: 33%;
  }

  #name-container, #email-container {
    width: 100%;
    padding: 0;
  }

  #email-container {
    clear: both;
    margin-top: 1.25em;
  }
}
/* 800 px */
@media all and (max-width: 50em) {
  section h2:before, section h2:after {
    width: 33%;
  }

  .contact h2:before, .contact h2:after {
    width: 31%;
  }

  #other-projects li {
    padding: 0.25em;
  }

  .bio, .skills-tools, .contact-info, #contact-form {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .skills-tools {
    margin-top: 2.25em;
    padding-top: 2.25em;
  }

  .skills-tools {
    border-top: 2px dashed #a72f11;
  }

  .about .download-link {
    margin-top: 0;
  }

  .skills-tools ul {
    width: 75%;
  }

  #contact-form {
    margin-top: 3em;
  }
}
/* 650 px */
@media all and (max-width: 40.625em) {
  section h2:before, section h2:after {
    width: 29%;
  }

  .contact h2:before, .contact h2:after {
    width: 27%;
  }

  .main-nav ul {
    width: 95%;
    font-size: 1.5625em;
  }

  .skills-tools ul {
    width: 90%;
  }

  .page-footer p {
    width: 70%;
  }
}
/* 600 px */
@media all and (max-width: 37.5em) {
  h2 {
    margin-bottom: 0.75em;
  }

  .project figure, .project article {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .project article {
    margin-top: 2em;
  }

  #other-projects li {
    padding: 0.325em;
  }
  #other-projects img {
    padding: 0.325em;
  }
}
/* 540 px */
@media all and (max-width: 33.75em) {
  body {
    font-size: 95%;
  }

  section h2:before, section h2:after {
    width: 24%;
  }

  .contact h2:before, .contact h2:after {
    width: 20%;
  }

  .section-wrap {
    width: 85%;
  }

  #sticky-nav {
    display: none !important;
  }

  .main-nav {
    position: static;
    padding: 0;
  }
  .main-nav ul {
    width: 92.5%;
    font-size: 1.625em;
  }
  .main-nav li {
    width: 100%;
  }
  .main-nav a {
    width: 100%;
    display: block;
    padding: 3.5% 0;
    background: #110b0a;
    margin-top: 1.5%;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
  }
  .main-nav a:hover, .main-nav a:active {
    background: #0b0706;
  }
  .main-nav .current:before, .main-nav .current:after {
    background: none;
  }

  #logo {
    margin: 0 0 10%;
  }
  #logo a {
    width: 85%;
    height: auto;
  }
  #logo a img {
    width: 100%;
    height: auto !important;
    -ms-interpolation-mode: bicubic;
  }

  .page-header {
    padding: 10% 0 4%;
  }

  #other-projects li {
    padding: 0.25em;
  }
  #other-projects img {
    padding: 0.25em;
  }

  .page-footer p {
    width: 80%;
  }
}
/* 460 px */
@media all and (max-width: 28.75em) {
  section h2:before, section h2:after {
    width: 18%;
  }

  .contact h2:before, .contact h2:after {
    width: 14%;
  }
}
@media all and (max-width: 22.5em) {
  section h2:before, section h2:after {
    display: none;
  }
}
/* Retina Displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 33.75em), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 33.75em), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 33.75em), only screen and (min-device-pixel-ratio: 2) and (min-width: 33.75em), only screen and (min-resolution: 192dpi) and (min-width: 33.75em), only screen and (min-resolution: 2dppx) and (min-width: 33.75em) {
  .main-nav .current:before {
    background: url(../img/hover-arrows@2x.png) no-repeat top left;
  }
  .main-nav .current:after {
    background: url(../img/hover-arrows@2x.png) no-repeat top right;
  }
}
/* ==========================================================================
   Utility Classes
   ========================================================================== */

.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.icon-alone {
  display: inline-block;
  /* Fix for clickability issue in WebKit */
}

.smaller-text {
  font-size: smaller;
}
