@font-face {
	font-family: 'icoMoon';
	src:url('../_fonts/icoMoon.eot');
	src:url('../_fonts/icoMoon.eot?#iefix') format('embedded-opentype'),
		url('../_fonts/icoMoon.svg#icoMoon') format('svg'),
		url('../_fonts/icoMoon.woff') format('woff'),
		url('../_fonts/icoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}