body {
    @include font-stack-body;
    font-size: 100%;
    line-height: 1.6em;
}

p {
    font-size: 1em;
    margin: 0 0 1em;
    text-align: justify;
}

h1, h2, h3, h4 {
    @include font-stack-headers;
    text-transform: uppercase;
    line-height: 1em;
}

h1 {
    font-size: 1em;
    margin: 2.5em auto 0;    
    font-weight: 700;
}

h2 {
    font-size: 3em;
    margin: 0 0 1.25em;    
    font-weight: 700;
}

h3 {
    font-size: 2em;
    margin: 0 0 0.625em;    
    font-weight: 700;
}

h4 {
    font-size: 1.125em;
    margin: 0 0 1em;
}

b, strong {
    font-weight: 700;
}

i, em {
    font-style: italic;
}

a {
    @include single-transition(color, 0.2s, ease);
    text-decoration: none;
}

/* Use with Icon fonts */
[data-icon]:before {
	font-family: 'icoMoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
        position: relative;
        top: 0.25em; 
        font-size: 1.5em;
}

input[type="text"], input[type="email"], textarea {
    @include font-stack-body;
}